.header {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &.dark {
    background-color: #0a1929;
  }
  &__inner {
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly;
  }
}
